<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ detail.name }}</h1>
           <p><a href="{% url 'todo_list_update' detail.id %}">Edit</a></p>
           <p><a href="{% url 'todo_list_delete' detail.id %}">Delete</a></p>
            <h2>Tasks</h2>

        <table>
            <thead>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in detail.items.all %}
                    <tr>
                        <td>
                          <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                        </td>
                        <td>{{ item.due_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>
</body>
</html>